backend/*venv
etl/*venv
__pycache__/
.idea
backend/.env
frontend/.env
etl/.env
*.pyc
.vscode
node_modules
*.log*
.nuxt
.nitro
.cache
.output
dist
.coverage
backend/.DS_Store
.DS_Store
**/*secrets.txt
**/*secret*.json
