$primary: #007bc7;
$primary-dark: #27598f;
$primary-darker: #154273;
$secondary: #b2d7ee;
$tertiary: #e5f1f9;
$quaternary: #cae3f0;
$quinary: #d2e5ee;
$accent: #82b1ff;
$error: #ff5252;
$error-dark: hsl(0, 100%, 45%);
$info: #2196f3;
$success: #4caf50;
$warning: #ffc107;
$headerTextColour: #000000;
$headerHoverColour: #fcf29a;
$grey: #f3f3f3;
$link-hover: #6da0d7;
