$primary: #007bc7;
$primary-dark: #154273;
$secondary: #b2d7ee;
$tertiary: #bedef0;
$quaternary: #cae3f0;
$quinary: #d2e5ee;
$accent: #82b1ff;
$error: #ff5252;
$info: #2196f3;
$success: #4caf50;
$warning: #ffc107;
$headerTextColour: #000000;
$headerHoverColour: #fcf29a;

$page-width: 1288px;
