@import '_variables.scss';
@import '_colors.scss';
@import '_rijksoverheid.scss';
@import '_skiplinks.scss';
@import '_rijksoverheid-header.scss';
@import '_fonts.scss';

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: $primary-dark;
  text-decoration: underline;
}
