<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1 class="title">Dashboard</h1>
    <div class="dashboard-element" id="joined-organisations">
      <h2 class="subtitle">Aantal aangesloten organisaties</h2>
      <div class="scrape-element" id="graph-joined-organisations-en">
        <img
          class="graph-joined-organisations"
          src="data:image/gif;base64,{{chart_joined_organisations_en}}"
          alt="Chart showing joined organisations"
        />
      </div>
      <div class="scrape-element" id="graph-joined-organisations-nl">
        <img
          class="graph-joined-organisations"
          src="data:image/gif;base64,{{chart_joined_organisations_nl}}"
          alt="Grafiek die aangesloten organisaties toont"
        />
      </div>
      <div class="scrape-element" id="graph-joined-organisations-fy">
        <img
          class="graph-joined-organisations"
          src="data:image/gif;base64,{{chart_joined_organisations_fy}}"
          alt="Grafyk dy't oansletten organisaasjes toant"
        />
      </div>
    </div>
    <div class="dashboard-element" id="published-algorithmdescriptions">
      <h2 class="subtitle">Aantal gepubliceerde algoritmebeschrijvingen</h2>
      <div class="scrape-element" id="graph-published-algorithmdescriptions-en">
        <img
          class="graph-published-algorithmdescriptions"
          src="data:image/gif;base64,{{chart_algorithmdescriptions_en}}"
          alt="Chart showing the number of published algorithm descriptions"
        />
      </div>
      <div class="scrape-element" id="graph-published-algorithmdescriptions-nl">
        <img
          class="graph-published-algorithmdescriptions"
          src="data:image/gif;base64,{{chart_algorithmdescriptions_nl}}"
          alt="Grafiek die het aantal gepubliceerde algoritmebeschrijvingen toont"
        />
      </div>
      <div class="scrape-element" id="graph-published-algorithmdescriptions-fy">
        <img
          class="graph-published-algorithmdescriptions"
          src="data:image/gif;base64,{{chart_algorithmdescriptions_fy}}"
          alt="Grafyk dy't it oantal publisearre algorithme-útlis toant"
        />
      </div>
    </div>
    <div class="dashboard-element" id="broken-links">
      <h2 class="subtitle">Gebroken links</h2>
      <div class="scrape-element" id="graph-broken-links-en">
        <img
          class="graph-broken-links"
          src="data:image/gif;base64,{{chart_broken_links_en}}"
          alt="Chart showing the number of broken links"
        />
      </div>
      <div class="scrape-element" id="graph-broken-links-nl">
        <img
          class="graph-broken-links"
          src="data:image/gif;base64,{{chart_broken_links_nl}}"
          alt="Grafiek die het aantal gebroken links toont"
        />
      </div>
      <div class="scrape-element" id="graph-broken-links-fy">
        <img
          class="graph-broken-links"
          src="data:image/gif;base64,{{chart_broken_links_fy}}"
          alt="Grafyk dy't it oantal breake links toant"
        />
      </div>
    </div>
    <div class="dashboard-element" id="publication-categories">
      <h2 class="subtitle">Publicatiecategorieën</h2>
      <div class="scrape-element" id="graph-publication-categories-en">
        <img
          class="graph-publication-categories"
          src="data:image/gif;base64,{{chart_publication_categories_en}}"
          alt="Chart showing different publication categories"
        />
      </div>
      <div class="scrape-element" id="graph-publication-categories-nl">
        <img
          class="graph-publication-categories"
          src="data:image/gif;base64,{{chart_publication_categories_nl}}"
          alt="Grafiek die verschillende publicatiecategorieën toont"
        />
      </div>
      <div class="scrape-element" id="graph-publication-categories-fy">
        <img
          class="graph-publication-categories"
          src="data:image/gif;base64,{{chart_publication_categories_fy}}"
          alt="Grafyk dy't ferskate publikaasjekategoryen toant"
        />
      </div>
    </div>
  </body>
</html>
